# http://editorconfig.org
root=true

[*.cs]
indent_size = 4
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none
