/Ultima/bin
/Ultima/obj
/Server/bin
/Server/obj
/Scripts/bin
/Scripts/obj
/Scripts/Output
/Scripts/Custom
/Application/obj

/Distribution/Honesty
/Distribution/Logs
/Distribution/Backups
/Distribution/Saves
/Distribution/Web
/Distribution/Docs
/Distribution/Reports
/Distribution/VitaNexCore
/Distribution/TheBox
/.vs

/Distribution/staffHistory.xml
/Distribution/reportHistory.xml
/Distribution/firewall.cfg
/drng64.dll
/drng32.dll
/libdrng.so

/Distribution/*.dll
/Distribution/*.json
/Distribution/*.config

*.pdb
*.exe
*.exe.mdb
*.sh
*.suo
*.idea
*.log
*.bin
*.csproj.user
*.DotSettings.user
*.ini

!/Data/*

/Data/PVPTournamentSystemData